.bottomDiv {
  
  border-radius: 1vh;
  
  margin-bottom: 1.5vh;
  width: 100%;
  max-width: 60%;
  height: 39%;
  align-self: center;
  box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.bottomDiv h3 {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 3vh;
}
.success-notification {
  background-color: #d4edda;
  color: #06D6A0;
  border: 1px solid #c3e6cb;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-align: center;
  z-index: 1000; 
}


.bottomDiv form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.bottomDiv label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  width: 100%;
}

.bottomDiv label select,
.bottomDiv label input {
  padding: 1vh 1vw;
  margin-top: 1vh;
  border: 0.2vh solid #ccc;
  border-radius: 0.5vh;
  font-size: 2vh;
  width: 100%;
  box-sizing: border-box;
}

.bottomDiv button {
  background-color: #003566;
  color: #fff;
  padding: 1.5vh 3vw;
  font-size: 2vh;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1.4vh;
  font-weight: bold;
  width: 100%;
}

.bottomDiv button:hover {
  background-color: #118AB2;
}

.bottomDiv button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .bottomDiv form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
  }

  .bottomDiv label {
      margin-right: 2vw;
      width: 45%;
      flex: none;
  }

  .bottomDiv button {
      width: auto;
      flex: none;
  }
}
