.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1vw;
    border-radius: 0.5vh;
    margin-right: 1vw;
    width: 28vw;
  }
  
  .graph-container h3 {
    margin-bottom: 2.5vh;
  }
  
  .chart-and-legend {
    display: flex;
    align-items: center;
  }
  
  .legend {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.6vh;
  }
  
  .legend-color {
    width: 1vw;
    height: 1vw;
    margin-right: 1vw;
    border: 0.1vh solid #ccc;
  }
  
  .legend-text {
    font-size: 1.75vh;
  }
  