.recent-projects {
    padding: 2vh;
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-chart {
    flex: 1 1 calc(33.333% - 2vw);
    margin: 1vh 1vw;
    cursor: pointer;
    text-align: center;
    padding: 1vh;
    transition: box-shadow 0.3s;
    box-sizing: border-box;
    width: 30vw;
}


.project-chart h4 {
    margin-bottom: 1vh;
}

.project-chart svg {
    max-width: 100%;
}

@media (max-width: 768px) {
    .project-chart {
        flex: 1 1 calc(50% - 2vw);
    }
}

@media (max-width: 480px) {
    .project-chart {
        flex: 1 1 100%;
    }
}
